# IntelliJ
.idea/
*.iml

# Compiled files
out/
target/
build/

# Java
*.class

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Maven / Gradle (por si se usa en el futuro)
.mvn/
.gradle/

# JavaFX temporary
hs_err_pid*